<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Password Generator</title>
</head>
<body>
<div class="container text-center">
<div class="font-weight-bold">
    <div class="alert alert-primary" role="alert">
        <h1>PASSWORD GENERATOR</h1>
    </div>
<h2>Your Generated Password is: </h2>
    <div class="mx-auto alert alert-dark w-50 p-3" role="alert" >
     <input type="text" class="btn btn-dark" value="{{ password }}" id="myInput"><br><br>
    <button class="btn btn-success" onclick="copyText()">Copy text</button>
        </div>

</div>
</div>
<script>
function copyText() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
</script>
</body>
</html>